####################################################################
# WhiteSource Unified-Agent generated configuration file
####################################################################
########################################################
# GENERAL SCAN MODE: Files and Package Managers
########################################################

resolveAllDependencies=false
archiveExtractionDepth=7
followSymbolicLinks=true
showProgressBar=false

checkPolicies=true
forceCheckAllDependencies=true
forceUpdate=true
forceUpdate.failBuildOnPolicyViolation=true

maven.ignoredScopes=test  #change from test provided to test only
maven.resolveDependencies=true
maven.ignoreSourceFiles=false
maven.aggregateModules=true
maven.ignorePomModules=false
maven.runPreStep=false
maven.ignoreMvnTreeErrors=true
maven.environmentPath=
maven.m2RepositoryPath=
maven.downloadMissingDependencies=false
maven.additionalArguments=
maven.projectNameFromDependencyFile=false   

#------------------------------------------------------------------------
#------------------------ Fill in the parameters ------------------------
#------------------------------------------------------------------------

apiKey=
#Unique identifier of the organization. It can be retrieved from the 'Integrate' page in your WhiteSource account

productName=
#Name of the product to create or update

projectName=
#Name of the project to create or update

wss.url=
#URL to send the request to. Use the 'WhiteSource Server URL' which can be retrieved from your 'Profile' page on the 'Server URLs' panel. Then, add New configuration was created at the '/agent' path to it, 
#For example: "https://<domain>.whitesourcesoftware.com/agent".

#projectTag=
#Project tag, to refer to another project and apply the policies from there

#projectToken=
#Unique identifier of the project to update. It can be retrieved from the 'Integrate' page in your WhiteSource account

#---------------- File name patterns to search ----------------
includes=**/*.java **/*.jar

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar
