name: Build and Test

on:
    push:
        branches:
            - master
        tags:
            - v*
    pull_request:
        branches:
            - master
            - prep-**
    workflow_dispatch:
        inputs:
          logLevel:
            default: warning
            description: "Log level"
            required: true
          tags:
            description: "Test scenario tags"
jobs:
    build:
        name: Build
        runs-on: ubuntu-20.04
        steps:
            - uses: actions/checkout@v1
            - name: Build
              shell: bash
              env:
                WHITESOURCE_API_KEY: ${{ secrets.WHITESOURCE_API_KEY }}
              run: ./ci/build.sh

    test-linux:
        needs: build
        name: ${{ matrix.cloud }} JDBC${{ matrix.additionalMavenProfile }} ${{ matrix.category }} on ${{ matrix.image }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                image: [ 'jdbc-centos7-openjdk8', 'jdbc-centos7-openjdk11', 'jdbc-centos7-openjdk17' ]
                cloud: [ 'AWS' ]
                category: ['TestCategoryResultSet,TestCategoryOthers,TestCategoryLoader', 'TestCategoryConnection,TestCategoryStatement', 'TestCategoryArrow,TestCategoryCore', 'TestCategoryFips']
                additionalMavenProfile: ['', '-Dthin-jar']
        steps:
            - uses: actions/checkout@v1
            - name: Tests
              shell: bash
              env:
                PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
                CLOUD_PROVIDER: ${{ matrix.cloud }}
                TARGET_DOCKER_TEST_IMAGE: ${{ matrix.image }}
                JDBC_TEST_CATEGORY: ${{ matrix.category }}
                ADDITIONAL_MAVEN_PROFILE: ${{ matrix.additionalMavenProfile }}
              run: ./ci/test.sh

    test-linux-old-driver:
        name: Old JDBC ${{ matrix.category }} on ${{ matrix.image }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                image: [ 'jdbc-centos7-openjdk8' ]
                cloud: [ 'AWS' ]
                category: ['TestCategoryResultSet,TestCategoryOthers', 'TestCategoryConnection,TestCategoryStatement', 'TestCategoryCore,TestCategoryLoader']
                is_old_driver: ['true']
        steps:
            - uses: actions/checkout@v1
            - name: Tests
              shell: bash
              env:
                PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
                CLOUD_PROVIDER: ${{ matrix.cloud }}
                TARGET_DOCKER_TEST_IMAGE: ${{ matrix.image }}
                JDBC_TEST_CATEGORY: ${{ matrix.category }}
                is_old_driver: ${{ matrix.is_old_driver }}
              run: ./ci/test.sh
